doctype html
html
  head
    title Page Not Found
    link(rel='stylesheet', href='/stylesheets/style.css')
  h1 Page Not Found
  p Apologies, but your page is not here.
  br
  p
    a.button(href='/books') Home